#
# HTTP Server
# Web Framework
#
waitress==1.1.0

#
# SQLAlchemy
#
SQLAlchemy==1.2.6
alembic==0.9.9

#
# GRPC
#
grpcio-tools

#
# Command Line Tools
#
click==7.0

#
# Web Application Framework
#
Flask==1.1.1

